label {
    font: inherit;
    background-color: inherit;
}

select,
input {
    font: inherit;
    width: 100%;
    padding: 1rem;
    outline: none;
    color: var(--c-bg);
    background-color: inherit;
    border: solid 1px var(--c-border);
    border-radius: var(--rad-1);
    cursor: text;
}

select {
    cursor: pointer;
}

select:valid,
input:valid {
    color: var(--c-text);
    border-color: var(--c-border);
}

select:focus,
input:focus {
    color: var(--c-text);
    border-color: var(--c-primary);
}

button {
    font: inherit;
    padding: 0.5rem 1rem;
    align-items: center;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: var(--c-primary);
    color: var(--c-bg);
    text-align: center;
    text-decoration: none;
    border-radius: var(--rad-1);
}
button:hover {
    background-color: var(--c-primary-dark);
}

.fForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fForm div {
    position: relative;
}

.fForm select ~ label,
.fForm input ~ label {
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: var(--c-muted);
    pointer-events: none;
    transition: 0.2s ease;
}

.fForm select:valid ~ label,
.fForm input:valid ~ label,
.fForm select:focus ~ label,
.fForm input:focus ~ label {
    top: -11px;
    left: 8px;
    font-size: 15px;
    background-color: var(--c-bg);
    color: var(--c-muted);
    padding-inline: 4px;
}

.fForm select:focus ~ label,
.fForm input:focus ~ label {
    color: var(--c-primary);
}

.fForm button {
    width: 100%;
    height: 100%;
}

.fForm input[type="checkbox"],
.fForm input[type="radio"] {
    display: none;
}

.fForm input[type="checkbox"]:checked + label,
.fForm input[type="radio"]:checked + label {
    border-color: var(--c-primary);
}

.fForm input[type="checkbox"]:checked + label:before,
.fForm input[type="radio"]:checked + label:before {
    transform: scale(1);
    opacity: 1;
    background-color: var(--c-primary);
    border-color: var(--c-primary);
}

.fForm input[type="checkbox"] + label {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    border-radius: 0.2rem;
    border: 1px solid #c2c8d0;
    cursor: pointer;
}
